[2016-12-31 19:37] ejaxon opened #1 "Set up basic framework for client and server applications"
We need to set up the basic framework. I propose that we use a React front end built using [create-react-app](https://github.com/facebookincubator/create-react-app) and an express back end. Based on [this blog post](https://www.fullstackreact.com/articles/using-create-react-app-with-a-server/), I've created the resulting combined framework in the [_init-framework_](https://github.com/CodeForNC/ree

[2016-12-31 19:49] ejaxon opened #2 "Select and implement an authentication system"
First step is to select a system. I propose that we select from one of the following:

- [Firebase](https://firebase.google.com/docs/auth/)
- [Passport.js](http://passportjs.org/)
- [Everyauth](https://github.com/bnoguchi/everyauth)

We are using Firebase authentication in SimpliCity at the City of Asheville and it is pretty simple to implement. I don't have experience with the other two.

Note th

[2016-12-31 20:25] ejaxon opened #3 "Add routing. Set up main routes and pages."
We probably should go ahead and use [react-router](https://github.com/reacttraining/react-router). I think we probably need 3 page templates:

- Home - this should include some static intro content that is common to all sites (so it loads with the page) possibly followed by some local stuff, including acknowledgements.
- Contact - we need to discuss how to handle the fact that some issues should g

[2016-12-31 20:30] ejaxon commented on #1
@marshallj Please review and let me know if you think this approach is ok.

[2017-01-01 02:44] marshallj commented on #1
@ejaxon I like the approach. My vote is to move forward with it.

[2017-01-01 02:50] marshallj opened #4 "Add .github folder with files for Contributing, Issues, Code of Conduct, and Pull Requests."
# Tasks:

* [x] Add .github folder
* [ ] Add and markup CONTRIBUTING.md
* [x] Add and markup ISSUES_TEMPLATE.md
* [x] Add and markup PULL_REQUEST_TEMPLATE.md
* [x] Add and markup CODE_OF_CONDUCT.md

[2017-01-01 02:54] marshallj commented on #2
@ejaxon if you are familiar with Firebase, I vote to move forward with it.

[2017-01-01 13:14] ejaxon commented on #1
Cool - I've merged in. Closing this issue.

[2017-01-01 13:14] #1 closed

[2017-01-01 15:43] ejaxon opened #7 "Content architecture"
Establish the basic principles (and, ideally, implementation approach) for the content of the site. This should account for both geographic hierarchy (national, state, county, regional) and topic organization. The latter includes both major topics (which are reflected in the main pages of the site) and possibly minor ones that allow for better searching or filtering of resources.

[2017-01-02 14:57] ejaxon opened #8 "Architecture Discussion"
To start out development of this new reentry site/application, let's outline the overall plan in a series of architecture conversations:

- [Information Design](https://github.com/CodeForNC/reentry-resources-hub/issues/9) - This focuses on how we will organize information on the site and especially on a topic page. This will help drive the server content architecture discussion.
- [Server Content

[2017-01-02 14:58] ejaxon opened #9 "Information Design - Architecture Discussion"
How will we organize information on the site and especially on a topic page. This will help drive the server content architecture discussion.

I'm starting with the assumption that the site will be organized similarly to http://www.buncombereentryhub.org, with a home page, a contact page, and a set of 8 topics.

Each page will consist of a combination of content that is common between counties (ge

[2017-01-02 14:59] ejaxon opened #10 "Server Content Architecture Discussion"
How do we organize the information on the server to facilitate creating, customizing and maintaining local reentry sites.

The current plan is to store information in files rather than in a database. This has a couple major advantages:

- The entire state can be checked into Github. Note that we can allow admins to update the site via a client app, but then issue a periodic pull request (perhaps n

[2017-01-02 14:59] marshallj opened #11 "Review Draft Pull Request Template"
## This is a (check all that apply):
* [ ] bug
* [ x ] enhancement
* [ x ] feature-discussion

## Expected Behavior

### Draft Pull Request template at the link below for review and feedback.

https://github.com/CodeForNC/reentry-resources-hub/blob/content-arch/.github/PULL_REQUEST_TEMPLATE.md

Questions that need consensus for final version of template:

- Will we accept pull requests without dis

[2017-01-02 14:59] ejaxon opened #12 "Public Site Server Architecture Discussion"
Public site server - basic server architecture and server-side rendering of the public site

We are using an Express server that serves the 8-10 routes associated with the public site, an admin route, and later probably an API to pull resource information for use by other sites/apps.

Current planned authorization approach is to use Firebase.

The main questions here, I think, are:

- How should w

[2017-01-02 15:00] ejaxon opened #13 "Content Administration App Architecture Discussion"
Front-end architecture, authentication, authorization, etc. for site administration.

This is a React app. Details to be worked out after we've figured out content architecture.

[2017-01-02 15:33] ejaxon commented on #11
Basically looks good. Re: questions:

 - I assume that a discussion can be had on the pull request itself, so I don't think we need to require that someone create an issue before doing a pull request. We should strongly encourage filing an issue for discussion BEFORE starting work though to reduce likelihood the pull request is rejected.

 - I think we should have a set of standard tests (and a pu

[2017-01-02 15:35] ejaxon commented on #7
This is superceded by issue 10

[2017-01-02 15:35] #7 closed

[2017-01-02 15:37] ejaxon commented on #2
Considering this a decision (which is documented in issue 12). Closing this issue.

[2017-01-02 15:37] #2 closed

[2017-01-02 15:38] ejaxon commented on #3
Closing this since it looks like we will do server-side rendering of the public site.

[2017-01-02 15:38] #3 closed

[2017-01-02 15:41] ejaxon commented on #4
@marshallj I find myself deleting the template boilerplate. While admitting that makes me a terrible person, I think it also indicates that we want to rethink the template a bit.

One possibility is to create sections for discussions, features, and bugs and tell users to go ahead and delete the sections that don't apply (i.e., delete the feature & bug sections if you're starting a discussion).

[2017-01-03 02:56] marshallj commented on #4
@ejaxon great feedback. I'll work on this.

[2017-01-03 03:06] marshallj commented on #9
This sounds reasonable and well thought out. For the standardized resources, could you clarify? Could we reasonably, (or perhaps even ethically) create all 100 county sites out of the gate and provide all known resources that apply to each county and include a disclaimer for areas where local/regional resources have not been identified yet?

[2017-01-03 12:09] ejaxon commented on #9
Probably "parametrized" is a better term than "standardized". Mainly what I mean are the NC211 links where we only need to substitute the correct county name to generate localized results. Not quite sure of the mechanism, but it should be set up so that those links show up in the local section even if the county site is nothing more than a directory with a configuration file setting the county nam

[2017-01-05 01:06] marshallj commented on #4
@ejaxon I took a stab at making the suggested changes to the issue template in the content arch branch. Please feel free to change or update now or as we go. First time at doing this, so not married to any of it. The goal should be to make it easier for others to participate, and get the info we need on the (hopefully) first try so we don't waste time.

@jhibbets Any opensource.com advice on githu

[2017-01-05 01:12] marshallj commented on #9
For the mechanism for the 211 links, can't we just concatenate it into the jsx (pulled from the data location - file/database) to form the county urls?

[2017-01-05 01:19] marshallj commented on #10
Isn't it also cheaper to store the info in files since we don't need a database instance in the cloud?

Also, @ejaxon do you have some sort of standard template to collect info from the folks running the services (community stakeholders)? If not should we put one together? Could be emailed to, or maybe a google form. Thinking it could help us organize and collect the info on services in a standard

[2017-01-05 11:33] ejaxon commented on #4
Good - I think this will work better. I'll keep thinking about it as I create issues. I'm also aware that the issues I'm creating at this initial stage are probably a bit atypical.

Two further comments. I'm not sure context should get a separate section. Maybe ask for it as part of the description or some other section? Also, might be worth letting people know they can delete sections that are no

[2017-01-05 11:37] ejaxon commented on #9
The main question I have re: mechanism is where they're stored. We can create a local site by copying in standard parameterized links, but then we'd have to change all 100 if we wanted to improve them. In any case, hoping to get to that as part of the [server content architecture](https://github.com/CodeForNC/reentry-resources-hub/issues/10) issue this weekend.

[2017-01-05 11:55] ejaxon commented on #10
Re: file storage, I agree - this approach lets us keep server resource requirements (and configuration pain) to a minimum. My current thinking is that we can create subdomains for each of the counties (e.g., guilford.ncreentryhub.org), but run it all off a single server that doesn't even need to be that powerful (we could actually run it off github pages, but probably not if we do the subdomains).

[2017-01-06 23:27] jhibbets commented on #4
I don't really have any best practices for templates. Sorry.

On Wed, Jan 4, 2017 at 8:06 PM, Jason Marshall <notifications@github.com>
wrote:

[2017-01-07 13:33] ejaxon commented on #9
Minor change on the design above to keep things manageable:

- Common introduction (text block - common to all sites)
- Local introduction (text block - optional additional introduction for local site)
- Highlighted resources (highlighted resources - local)
- List of resources
    - Local (resource links)
    - Regional (resource links)
    - Common - national and state (resource links)

All I've

[2017-01-07 18:11] ejaxon commented on #10
I've just checked into the [content-arch branch](https://github.com/CodeForNC/reentry-resources-hub/tree/content-arch) both the proposed structure for all 100 counties and a script (in the ````init```` subdirectory) that creates it. I think it will probably mostly be clear. The one thing that I want to highlight is that the ````resources_local.json```` file at the state (common) level is the set o

[2017-01-07 18:43] ejaxon commented on #10
Revamped the structure a bit. I think the current form is what I propose.

This means that creating a _topic_ page for the site involves reading the corresponding common page for that _topic_ (in content/pages/_topic_), which gives the common (state and national) description and parameterized links plus the corresponding page data in the local jurisdiction (county) directory (in content/jurisdicti

[2017-01-07 19:21] ejaxon commented on #9
@marshallj I have documented this in the [content page](https://github.com/CodeForNC/reentry-resources-hub/blob/content-arch/documentation/content.md) of the documentation. Let me know if you think this is good enough to start with and I'll close this issue.

[2017-01-07 19:24] ejaxon commented on #10
@marshallj I have created the proposed architecture in the [content-arch branch](https://github.com/CodeForNC/reentry-resources-hub/tree/content-arch) (and of course have the ````init_content.js```` script to regenerate if we change).  I also started documenting it in the documentation directory (full documentation can be one of the tasks).

Let me know if you're ok with this for now and I'll clos

[2017-01-07 22:03] ejaxon commented on #12
I'm just going to close this - just doing it through a pull request.

[2017-01-07 22:03] #12 closed

[2017-01-07 22:07] ejaxon commented on #13
Just closing this - I'll reopen as an actual development issue.

[2017-01-07 22:07] #13 closed

[2017-01-07 22:08] ejaxon commented on #8
Just closing this before creating actual development issues.

[2017-01-07 22:08] #8 closed

[2017-01-07 22:44] ejaxon opened #16 "Write introductions for all topics (information valid for all counties)"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description

We need common introductions written for each of the pages/topic areas below. These introductions should be valid for ALL counties in the state, i.e., they should not include information specific to any particular county.

* [ ] Home
* [x] Housing
* [ ] Jobs
* [ ] Public Benefits
* [ ] Health Care
*

[2017-01-07 22:59] ejaxon opened #17 "Write a server topic page renderer for the public site (Node Express)"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

__Note:__ Implementation of this issue depends on and should follow that of [issue 18](https://github.com/CodeForNC/reentry-resources-hub/issues/18).

# Enhancement
## Description

The standard topic route for the public reentry site is ````/{jurisdiction}/{topic}````
where ````jurisdiction```` is a county name and ````topic````

[2017-01-08 11:31] ejaxon opened #18 "Create base HTML page template (& add templating language)"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
Currently the server has a single route which reads the information required to build a topic page but has no HTML rendering. We need to create the base HTML page that we'll use for the site and decide on/implement the templating language we'll use.

## Implementation
I don't have a strong preference

[2017-01-08 14:13] ejaxon opened #19 "Determine deployment approach (including how to push content updates back to Github)"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
The content for the reentry site is maintained in plain files contained in the project. There are a couple key advantages to doing it this way, namely, that all content is available directly in the Github repository and that we can begin building the site without waiting for administrative tools to be

[2017-01-08 14:59] ejaxon opened #20 "Add authentication to administration site"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

__Note:__ This feature depends on #21 and must be implemented after or together with it.

# Enhancement
## Description
We will need to be able to identify individual users so that we assign them the authority to change specific content on the site.

## Implementation
My recommendation is that we use Firebase for the authenticatio

[2017-01-08 15:09] ejaxon opened #21 "Create a skeleton content administration app"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
Help get the admin app started by adapting the current client (in the ````client```` directory). This app will be the primary interface for editing descriptions and resources.

## Implementation
The admin client is a React app talking to the Node server. Design, routing, etc., will be separate tasks,

[2017-01-10 15:54] sparklebunny commented on #16
@ejaxon @marshallj I will start working on Housing content and can move down the line once it's done.

[2017-01-10 15:56] ejaxon commented on #16
Excellent! Does it make sense to create an issue for each as you do it? I hesitated to create them all up front, but it might be a good way to track.

[2017-01-10 16:01] marshallj commented on #16
@sparklebunny awesome! Thanks for jumping in. @ejaxon if you think we need discussion on each topic, it would probably be best to track separately. Although, if we are just checking them off as they are completed with minimal comments needed, I vote to continue in this issue.

[2017-01-10 19:38] ejaxon commented on #16
I think it's pretty likely that we'll have discussion about the individual bits of content, but it's ok by me to just have initial discussion in the pull request and create the new issue if anyone needs to ask for a revision.

[2017-01-11 12:37] ejaxon opened #22 "Write local introductions for Buncombe County"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
We need Buncombe-county-specific introductions written for each of the pages/topic areas below. These introductions should be valid for ALL counties in the state, i.e., they should not include information specific to any particular county.

* [ ] Home
* [ ] Housing
* [ ] Jobs
* [ ] Public Benefits
* [

[2017-01-11 12:37] ejaxon opened #23 "Write local introductions for Guilford County"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
We need Guilford-county-specific introductions written for each of the pages/topic areas below.

* [ ] Home
* [ ] Housing
* [ ] Jobs
* [ ] Public Benefits
* [ ] Health Care
* [ ] Education
* [ ] Legal
* [ ] Support Programs
* [ ] Other Resources

If you take on a topic, let @ejaxon or @marshallj know

[2017-01-11 12:40] ejaxon opened #24 "Create highlighted resources for Buncombe County"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
We need Buncombe-county-specific highlighted links created for each of the pages/topic areas below.

* [ ] Home
* [ ] Housing
* [ ] Jobs
* [ ] Public Benefits
* [ ] Health Care
* [ ] Education
* [ ] Legal
* [ ] Support Programs
* [ ] Other Resources

If you take on a topic, let @ejaxon or @marshallj k

[2017-01-11 12:42] ejaxon opened #25 "Create common highlighted resources"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
We need highlighted links created for each of the pages/topic areas below. These are links that apply to ALL counties in the state.

* [ ] Home
* [ ] Housing
* [ ] Jobs
* [ ] Public Benefits
* [ ] Health Care
* [ ] Education
* [ ] Legal
* [ ] Support Programs
* [ ] Other Resources

If you take on a to

[2017-01-11 12:44] #10 closed

[2017-01-11 12:44] #9 closed

[2017-01-12 01:20] marshallj commented on #19
@ejaxon I like approach 2 as well. In this scenario, just so I have it clear in my head, would a deploy to production workflow go something like this...

1. Make sure all content changes on the production server are merged into the 'server branch' and then merged with master.
2. Pull updates for deployment from master to 'server branch'.
3. Push from 'server branch' to server (AWS, etc.)

[2017-01-12 01:41] marshallj commented on #23
@Sadaajit and I will begin the legwork on this. We may not be doing the writing ourselves. but we will be coordinating with the subject matter experts to collect the info. We have been invited to a meeting on January 23rd of Greensboro Community Stakeholders doing reentry work to briefly talk about the project and begin making local connections that will provide content.

[2017-01-12 01:45] marshallj commented on #23
@ejaxon Could you clarify this:

"We need Guilford-county-specific introductions written for each of the pages/topic areas below. These introductions should be valid for ALL counties in the state, i.e., they should not include information specific to any particular county."

Should these intros be specific to Guilford or apply to all counties?

[2017-01-12 10:57] ejaxon commented on #23
These are the intro parts specifically relevant to Guilford (the common intros are in [this issue](https://github.com/CodeForNC/reentry-resources-hub/issues/16), which @sparklebunny was starting to work on. I also created a task specifically for [Buncombe County](https://github.com/CodeForNC/reentry-resources-hub/issues/22). Other counties for now will just have the common introductions and the co

[2017-01-12 11:21] ejaxon commented on #19
@marshallj Just to make sure we're saying the same thing, here's a full cycle from initial deployment from the master repo to merging in changes made via the admin tool on the server. I'll use 2 branches: _master_ and _deployed_, where _deployed_ is the branch on the server.

1. Clone the repo to the server
2. Create/checkout the 'deployed' branch
3. Build & deploy the app
4. Admin users make some

[2017-01-14 15:12] marshallj commented on #4
Pull-Request template complete. @ejaxon we haven't vetted this one yet. Feel free to add feedback here, or commit changes to the template as needed.

[2017-01-14 19:40] #11 closed

[2017-01-15 15:40] ejaxon commented on #4
I think this is all good except the "Types of Change" section. Since you're requiring them to connect to an issue, which already specifies this, it's unnecessary work.

This template obviously makes clear what needs to be covered in CONTRIBUTING.

[2017-01-15 17:14] marshallj commented on #4
Removed 'Types of Change'. Will move to CONTRIBUTING next.

[2017-01-18 01:49] sparklebunny commented on #16
Have some copy to commit, just working on setting up my environment. Was on vacation last week :) Plan to get it committed tomorrow.

[2017-01-19 00:19] tcaddy commented on #20
I am not a Node developer, but it looks like PassportJS is the library to use for this: http://passportjs.org/

[2017-01-19 18:47] sparklebunny commented on #16
@ejaxon @marshallj I can start working on the Jobs intro if it's still open. Let me know if the Housing copy is what you're looking for or how I can change it. Thanks!

[2017-01-20 01:36] buddyp450 commented on #18
@ejaxon would be willing to accept a PR if using react? I haven't used handlebars before but would be willing to check it out.

[2017-01-20 18:47] ejaxon commented on #18
Hi, @buddyp450, my thinking was that it's important for consistent SEO for now to do the rendering on the server. If you want to take us down the path of server-rendered React, I'd definitely be up for that. I don't know Handlebars either, but figured it'd be easy to learn and work on the server side.

[2017-01-21 09:12] ejaxon commented on #16
Hey @sparklebunny, I'll take a look early this coming week. I've been on vacation (and today is a long drive back home). Re: Jobs intro, go for it!

[2017-01-21 09:19] ejaxon commented on #20
Sorry for the delay - I'm on vacation and have mostly been offline.

I'm certainly open to that. The advantage of using something like Firebase is that it not only gives you the authentication functionality, but the screens and workflows as well (login, email confirmation, password recovery, etc.). With an authentication library, you need to build that yourself and it is more work than it seems. M

[2017-01-21 10:50] ejaxon commented on #18
Actually, I should say that I'd actually prefer React, but wasn't sure the best way to do server-side rendering and so went with what seemed easier. The admin front-end will be React, so actually better if this is too, as long as we can guarantee good SEO.

[2017-01-25 03:23] marshallj commented on #17
@ejaxon - https://github.com/CodeForNC/reentry-resources-hub/blob/master/documentation/content.md is a dead link.

[2017-01-25 12:44] ejaxon commented on #17
Sorry - restructured the documentation. Fixed now.

[2017-01-25 12:49] ejaxon commented on #16
Still digging out after vacation @sparklebunny, but will review whatever you've got this weekend or before.

[2017-01-25 16:49] sparklebunny commented on #16
@ejaxon No worries - having a busy week myself. Should have the job copy up by this weekend. Thanks!

[2017-01-30 18:36] sparklebunny commented on #16
@ejaxon I can start on Public Benefits general copy if no one else has claimed it. Again, let me know if you'd like any changes to the Jobs or Housing copy. Thanks!

[2017-01-31 11:55] ejaxon commented on #16
Go for it. At this point you're the only one working on this piece, so feel free to move ahead.

[2017-02-05 18:39] ejaxon opened #28 "Create a newbie contribution tutorial"
Many of those at brigade meetings who would like to help are newbie developers who know little or nothing not just about the project, but about using Github, coding, etc. Our contribution guide should be targeted specifically at them, helping them begin to contribute by taking them through every step they need to know, including:

* How to sign up for Github
* How to clone a repository
* How to wo

[2017-02-05 18:47] ejaxon opened #29 "Path Forward"
Although it was important to sketch out the basic architectural elements, I think we were premature in creating many of the tasks and inviting people to participate. Much of the system requires that the system architects work through the basic approach and set up the initial implementation first. In this issue I want to step back and discuss the best path forward.

... In progress - still working

[2017-02-05 18:50] #25 closed

[2017-02-05 18:50] ejaxon commented on #25
Closing this as part of a reorganization of the work.

[2017-02-05 18:51] ejaxon commented on #22
Closing this as part of a reorganization of the work.

[2017-02-05 18:51] #22 closed

[2017-02-05 18:52] ejaxon commented on #20
Closing this as part of a reorganization of the work. We'll come back to this when we're ready to start building the admin interface and can decide the best approach then.

[2017-02-05 18:52] #20 closed

[2017-02-05 18:52] ejaxon commented on #21
Closing this as part of a reorganization of the work.

[2017-02-05 18:52] #21 closed

[2017-02-05 18:53] ejaxon commented on #19
Closing this as part of a reorganization of the work. We'll come back to this when we're ready. I think we've got a rough idea of approach from this discussion.

[2017-02-05 18:53] #19 closed

[2017-02-05 18:53] ejaxon commented on #17
Closing this as part of a reorganization of the work.

[2017-02-05 18:53] #17 closed

[2017-02-05 18:55] ejaxon commented on #23
Closing this as part of a reorganization of the work. These tasks will return, but for now best to gather the local content outside the repository while we work through exactly how it will be organized in the system.

[2017-02-05 18:55] #23 closed

[2017-02-05 18:55] ejaxon commented on #24
Closing this as part of a reorganization of the work.

[2017-02-05 18:55] #24 closed

[2017-02-05 18:56] ejaxon commented on #4
Closing this - we have rough versions of all the docs - we can iterate from here. Also trying to set up a new set of issues going forward per our discussion earlier today @marshallj

[2017-02-05 18:56] #4 closed

[2017-02-05 18:57] ejaxon commented on #18
Closing this as part of a reorganization of the work. Will update you on Slack @buddyp450 soon.

[2017-02-05 18:57] #18 closed

[2017-02-05 18:58] ejaxon commented on #16
Closing this as part of a reorganization of the work.

[2017-02-05 18:58] #16 closed

[2017-02-05 19:50] ejaxon opened #31 "Make sure that new React content lints cleanly"
The new server React content shows a lot of ESLint errors. Cleaning them up is also an opportunity to learn React since it's recommending things like specifying prop types, converting stateless classes to functions, etc.

I have been using VS Code as an editor and it's easy then to install ESLint in the editor itself and it will flag all the problems right there.

[2017-02-05 19:53] ejaxon opened #32 "Create a function to replace variables from the configuration in URLs"
In the Content.jsx file I've done a replace of local_jurisdiction and common_jurisdiction in the localized URL. We should generalize that by writing a function that takes a URL (or any string, for that matter) and replaces any occurrence of ````{{config_name}}```` in the string with the value of ````config_name```` from data.config.

Then we can replace the substitution being done in Content.jsx w

[2017-02-05 20:09] ejaxon opened #33 "Render a topic page using Buncombe healthcare as an example."
We have at least demo content for healthcare at both the common level and for Buncombe County (any route other than http://localhost:3001/buncombe/health will fail).

I've updated the documentation in server.js on the structure returned by compose.js. Basically you have 2 HTML blocks (common and local) plus 2 sets of resources at the common level (truly common resources plus resources that are loc

[2017-02-05 20:16] #29 closed

[2017-02-07 13:57] marshallj commented on #33
Marking this complete.

[2017-02-07 13:57] #33 closed

[2017-02-07 16:10] mlamont8 opened #35 "Incorrect folder name in README"
* [ x] bug
* [ ] enhancement
* [ ] feature-discussion

Folder Name Incorrect in README

## Current Behavior
Currently states to cd into client folder.
## Possible Solution
There is no client folder...should be admin-client folder

[2017-02-08 12:04] ejaxon commented on #35
I've merged in your pull request - good catch. Closing this as resolved.

[2017-02-08 12:04] #35 closed

[2017-02-08 12:19] ejaxon opened #37 "Move common (national & state) content to relevant description.html files in content/pages/*"
The content for a local content page will be constructed by merging common content and resources that apply nation-wide or state-wide with content and resources relevant to a specific county. The common and Buncombe county sections for health provide a working example of how we're approaching (although it is still subject to change). See content/pages/health and content/jurisdictions/buncombe/heal

[2017-02-27 21:58] jdmoore4 commented on #28
I'm going through a high-level tutorial for git in my coding program at the moment, so I could try and take a stab at some of this.

[2017-03-01 16:46] ctstrongonline commented on #37
How can I help with this issue? I wan t to help.

[2017-03-10 11:37] ejaxon commented on #28
Sincere apologies for the slow response - for some reason all my Github notifications started going to my spam folder.

It would great if you could get something started on this, @jdmoore4!

[2017-03-10 11:39] ejaxon commented on #37
Sincere apologies for the slow response - for some reason all my Github notifications started going to my spam folder. I've also been buried at work and with Open Data Day. By the end of the weekend I'll have a better handle on where this task is (I believe many were done by @sparklebunny over the last week or two.

[2017-03-17 21:40] marshallj opened #39 "Refactor application to a Universal React App."
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description

SSR allows optimal SEO. Client side JS takes over once page is rendered from the server.

[2017-03-18 14:59] marshallj commented on #39
Universal JS PR merged.

[2017-03-18 14:59] #39 closed

[2017-03-19 16:56] ejaxon opened #43 "Update on recent decisions on the reentry resources project"
@marshallj  and I want to update everyone on some recent decisions related to the reentry resources project. Check it out here: https://docs.google.com/document/d/1JTGanUKeVDJrIX-DJBcQztQjPTXtrO-plEqk3WGp8rA/edit?usp=sharing.

The short form is that we're forming an operating committee under the auspices of [DemocracyApps](https://democracyapps.org/) to take care of operating issues while leaving

[2017-04-25 10:34] ejaxon opened #45 "Write script to set up Centos server on AWS to host site"
We will host the site (and the administrative API)  on AWS on a [Centos 7 Linux](https://aws.amazon.com/marketplace/pp/B00O7WM7QW?ref=cns_srchrow) server. We need a simple script that will:

* Install git, Nodejs (version 8, not 6), yarn and Nginx
* Clone the 3 code repos and content repo to /opt
* Run yarn on each of the code repos.

[2017-04-25 10:38] ejaxon opened #46 "Finalize common content"
Work with Christiana Tugman to update a final version of the common content both on the Buncombe County site and here.

[2017-04-25 10:39] ejaxon opened #47 "Buncombe County content"
Work with Christiana Tugman to create a final version of the Buncombe County local content here and on original site.

[2017-04-25 11:46] ejaxon commented on #43
Closing now just to clean up.

[2017-04-25 11:46] #43 closed

[2017-04-25 11:48] ejaxon commented on #37
This is done. We are getting things cleaned up and there will soon be more opportunity to help out.

@nicolestrong where are you located? Asheville area or Greensboro area or somewhere else?

[2017-04-25 11:48] #37 closed

[2017-04-25 12:41] marshallj opened #48 "Guilford County Content"
Jason and Debbie working to produce V1 of Guilford content.

[2017-04-25 12:42] marshallj opened #49 "Google custom search"
Implement Google Custom Search

[2017-04-25 12:43] marshallj opened #50 "Domain mapping strategy & implementation"
We ultimately need to route requests to the public deployment of the NC Reentry Resources Hub
through an Nginx proxy.

Create an Nginx config file that maps county subdomains to the appropriate page on the website.

Example: guilford.ncreentryhub.org/jobs maps to ncreentryhub.org/guilford/jobs

[2017-05-13 15:21] sparklebunny commented on #46
Do you and Christiana need any help with this part? Realized there were one or two general descriptions I hadn't finished yet. Let me know if I can help :)

[2017-05-14 15:15] ejaxon commented on #46
Hey, @sparklebunny, definitely yes, though I think we'll need to confer and I want to bring someone in from Code for Greensboro as well. Given that we want to launch Buncombe and bring Guilford on pretty quickly, and have interest from Durham, I think it's important to step back and think through what standards/guidelines we want to establish. Our current pages are a bit haphazard and I don't thin

[2017-05-14 22:47] sparklebunny commented on #46
Great idea! Keep me posted :)

[2017-06-22 13:28] marshallj opened #52 "Sidebar Leaflet Map with NC Counties"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description

Create React component that uses Leaflet to provide a map of NC Counties in the sidebar of the page. The appropriate county on the map will highlight based on what county's page the user is viewing.

## Implementation

Create a React component for this.
Use Leaflet.
Use geojson file for the county da

[2017-06-24 22:10] ejaxon opened #54 "Allow jurisdiction content to render even if there is no content or partial content"
## This is a:

* [ ] bug
* [X] enhancement
* [ ] feature-discussion

# Enhancement
## Description

If a change is made to the format of content files it is necessary to change the corresponding files in all 100 counties for all topics, which is onerous. The code should work even if a local jurisdiction has no topic files or only a subset. We should be able to delete all but the top-level config.js

[2017-06-28 14:52] ejaxon commented on #54
Revised the code to just return empty content if the various files don't exist, then deleted all local files except for the base config.json for all counties except Buncombe.

[2017-06-28 14:52] #54 closed

[2017-07-02 19:27] #47 closed

[2017-07-02 19:31] ejaxon commented on #48
This should be moved to the [content repo](https://github.com/CodeForNC/nc-reentry-resources-content) now that it's been separated out. Not sure if you can move or have to dup and delete.

[2017-07-09 16:08] marshallj opened #59 "Navigation between different county sites"
Implement bootstrap modal for county navigation

[2017-07-09 16:09] marshallj opened #60 "Global home (all counties)"
Implement global home page at / route.

[2017-07-09 16:11] marshallj commented on #60
Global home page working. Needs content created. Content will be created in the content repository.

[2017-07-09 16:16] marshallj opened #61 "Contact Page"
Implement contact page at /contact route. There is an existing Contact React component in the components directory. Use this to build the page. We currently need a form that will allow users to send feedback to Eric and Jason via email. Send emails to eric.jackson@democracyapps.org
& jason@codeforgreensboro.org

[2017-07-09 16:17] marshallj commented on #61
This could potentially be moved to an issue in the community project for the July 22 hackday.

[2017-07-09 16:19] marshallj opened #62 "Per-county image"
Implement custom images for the header in each county page.

[2017-07-09 16:20] marshallj commented on #62
This could perhaps be an issue in the community project for the July 22 hackday.

[2017-07-09 16:30] #60 closed

[2017-07-09 16:32] marshallj commented on #59
modal is working to navigate between counties. Closing this issue, but we could potentially improve this with future issues.

[2017-07-09 16:32] #59 closed

[2017-07-15 18:14] ejaxon commented on #32
I'm not sure this is worth doing - just closing for now to clean up. It can come back if it seems useful.

[2017-07-15 18:14] #32 closed

[2017-07-15 18:21] ejaxon opened #63 "Set up files and scripts to deploy the site on a Centos 7 Linux server"
To deploy the site, we need to set up an Nginx web server that proxies calls to the Node server.

You can find a guide to how it's done [here](https://www.digitalocean.com/community/tutorials/how-to-set-up-a-node-js-application-for-production-on-centos-7).

In addition, you will find a `deployment` directory in [this repository](https://github.com/cityofasheville/simplicity-graphql-server) that ca

[2017-07-15 18:23] ejaxon opened #64 "Fix the production build of reentry hub by adding minification/uglification/best practices"
Prepare a complete and robust webpack production build for the app including minification, uglification, and image optimization. See the info [here](https://webpack.js.org/guides/production/) to get started. Contact @marshallj with questions.

[2017-07-15 18:24] ejaxon commented on #64
@marshallj - Could you please add a better description to this.

[2017-07-15 18:27] ejaxon opened #65 "Implement unit tests for reentry hub public site code"
Write good unit tests (preferably using [Jest](https://facebook.github.io/jest/) for the public site code.  The testing should cover the `compose` function on the server side and all the main components on the client side.

[2017-07-15 18:28] ejaxon opened #66 "Improve dev environment by implementing hot reloading"
We need to implement a proper development webpack configuration including hot reloading for a universal (isomorphic) JavaScript app. There are several ways to do this, but the blog posts [here](https://medium.com/@justinjung04/react-server-side-rendering-and-hot-reloading-ffb87ca81a89) and [here](https://hackernoon.com/isomorphic-universal-boilerplate-react-redux-server-rendering-tutorial-example-

[2017-07-15 18:29] ejaxon commented on #66
@marshallj please enhance the description.

[2017-07-15 20:33] ejaxon opened #68 "Rewrite the functions in server/compose.js to use async/await"
The `compose` and `mainCompose` functions that pull together content for a page are written using callbacks, which make them hard to read and follow, especially for less experienced Javascript developers.

Beginning in Node 7, however, there is support for a much simpler paradigm for handling asynchronous function calls. The async/await features allow asynchronous code to be written in a way that

[2017-07-16 10:10] ejaxon opened #69 "Remove admin-client directory & commands"
Originally we planned to have the administrative interface be an integral part of the public reentry tool. The admin_client directory was intended for that purpose. Since then, we decided to build that part of the functionality out separately, in the [reentry-admin-api](https://github.com/CodeForNC/reentry-admin-api) and [reentry_admin_ui](https://github.com/CodeForNC/reentry-admin-ui) repositorie

[2017-07-16 10:30] ejaxon opened #70 "Design templates & guidelines for common and local content"
The original [Buncombe County Reentry Resources Hub](http://www.buncombereentryhub.org/) is implemented as a Wordpress website, and individual topic pages were written by a variety of people, so that they don't follow a single standard template.

In the new implementation, content for a topic page for a given county has a strict form:

1. __Common Description__: a block of HTML text with informati

[2017-07-16 16:32] ejaxon opened #71 "Topic menu should not show if county has not been selected."
If you go to the home page ("/") you should not be able to select a topic (housing, jobs, etc.) without first selecting a county.  Basically _none_ of the menu or search should show up until a specific county is selected.

[2017-07-16 16:34] ejaxon opened #72 "Add a favicon to the site"
The site does not yet have a favicon (and therefore generates a 404 error message in the JS console every load). Let's at least get a simple default favicon.

[2017-07-18 12:01] ejaxon opened #73 "Usability Testing of C-CAT Collateral Consequences Tool"
The [Collateral Consequences Tool](https://ccat.sog.unc.edu/) documents the impact of various felony convictions on eligibility for jobs, benefits and educational assistance. It is developed by the UNC School of Government and has enormous amounts of valuable information, but can be challenging to use.

The team behind the tool is interested in working with us both to improve their tool and to ena

[2017-07-18 12:08] #73 closed

[2017-07-20 22:22] ejaxon opened #74 "User feedback loop"
This is more a thinking/planning exercise. We will have a contact form that site users can use to report errors or give feedback. How can we go beyond this through some combination of standard web analytics, custom analytics built into the site, and different forms of direct engagement with site users to get ongoing feedback to improve the site.

[2017-07-20 23:03] JungleJim2 commented on #74
What a great idea :-) There may be a several types of users from which we might benefit from their feedback: (1) people in government and services that recommend the site, (2) the people who use the site because they are returning to our community from incarceration, and (3) other people who recommend the site (family/friends/community members?).

[2017-07-20 23:13] marshallj commented on #63
@ejaxon is the deliverable for this issue a nginx config file with the proper subdomain mapping? Asking to clarify the existing issue [here](https://github.com/CodeForNC/reentry-resources-hub/issues/50) we have for that piece. If this one covers it, I will close the old one.

[2017-07-20 23:16] marshallj commented on #63
Doh! Didn't mean to close this! Reopened now.

[2017-07-20 23:30] marshallj commented on #28
@jdmoore4 have you done any work on this issue? Want to make sure we include anything you've done before the event Saturday. We may have someone that wants to hack here.

[2017-07-20 23:32] marshallj commented on #71
We should have at least the home and contact topics in the nav bar at the / route. Maybe other custom ones? Feel free to propose ideas in comments here.

[2017-07-21 00:02] marshallj opened #75 "User testing for current public site."
We need testers to collaboratively document bugs and issues with the current version of the public NC Reentry Resource Hub website [here](https://docs.google.com/document/d/16-vuF_vA_fn7HUApy_KSI8AP1LNYr0tieGh0O7rZQ64/edit).

We need testing and documentation on: Chrome, Safari, Firefox, Internet Explorer, Opera, as well as, testing on as many mobile devices as possible, including phones and table

[2017-07-21 00:36] marshallj opened #76 "Review County Modal Design"
Determine if a better design should be implemented for the County Modal that is displayed with links to the 100 NC Counties. Account for desktop/laptop/mobile screen sizes.

Please propose any design suggestions before beginning work to implement.

[2017-07-21 00:46] marshallj opened #77 "Implement Sass to replace CSS"
Currently the site is styled with CSS. Implement Sass for styling the site using the existing CSS as a guide. Include a transpiler to convert to CSS.

[2017-07-21 11:37] ejaxon commented on #63
Yes, they are related, but I think we could go ahead and deploy the ncreentryhub.org common domain and figure out domain mapping separately. I may not be thinking about this clearly, though.

[2017-07-21 12:32] marshallj commented on #63
Great, I'll add the other issue for config for the subdomain routing to the hackday project.

[2017-07-22 15:52] jmu2nmsu commented on #62
I can do this. :)

[2017-07-22 16:07] dresean commented on #71
For the mobile display the search text area is very small, I think it should be animated to expand on click to better see the input.

[2017-07-22 16:46] mlamont8 commented on #71
Considering putting Nav in separate container and doing conditional rendering based on route

[2017-07-22 16:59] dresean commented on #70
Hi guys, I found a site with local resources for each county here: http://randp.doc.state.nc.us/scripts/htmSQL.exe/docs/hsql/CM/CountyResourceGuide-COquery.hsql

Just use the county selectors and submit to get numbers to local resources. I think we should categorize the most common resources available to each county and have that listed in a button for "State/Fed Resources" (ex. Goodwill, Salvatio

[2017-07-22 20:39] BlakeGuilloud opened #79 "Separate config details from package.json (eslint babel)"
## This is a:

* [ ] bug
* [x] enhancement
* [ ] feature-discussion

# Enhancement
## Description
To optimize organization and follow best practice, we should break out the babel config and eslint config from the package.json and create respective files to handle this. This offers tons of benefits, namely: not having to specify which babel-presets you want to load in different build files.

In web

[2017-07-22 20:42] BlakeGuilloud commented on #61
@marshallj I'm happy to take this issue on.

[2017-07-23 12:11] marshallj commented on #61
@BlakeGuilloud just assigned to you and put it in progress. Thanks for taking this on. Let me know if you need anything.

[2017-07-23 14:24] marshallj commented on #79
Reviewed @BlakeGuilloud PR. All looks great.

[2017-07-23 14:24] #79 closed

[2017-07-23 14:27] marshallj commented on #31
Reviewed @BlakeGuilloud PR. All looks good. Closing.

[2017-07-23 14:27] #31 closed

[2017-07-23 14:55] BlakeGuilloud commented on #61
@marshallj @ejaxon

So we have a couple of options here. The front-end form is pretty straight forward, but as far as the sending functionality, I will need to work with the admins of this page to set it up.

I think that @marshallj mentioned yesterday that the app does have an AWS account or is looking to make that happen. AWS has a service called SES (simple email service) that allows you to reg

[2017-07-23 21:30] brendanyounger commented on #66
There's a partial solution to this at https://github.com/brendanyounger/reentry-resources-hub.

I disabled server-side rendering for the time being, but it shouldn't be too hard to add back.  I haven't created a pull request, because it needs some cleanup before merging.

[2017-07-23 22:17] Sadaajit commented on #72
Have created a favicon and was wondering if you want me to put placeholder code in the file, as I don't know where the image is going to end up in the full project and it will need to be coded for that location.

[2017-07-24 00:35] marshallj commented on #61
I would prefer the AWS Simple Email Service, or the nodemailer solution. Would like to hear @ejaxon chime in, but here are my thoughts, correct me if I am wrong on anything here...

AWS - Simple Email Service
* paid service we would need to add to the project budget, likely not much, but a consideration.
* would require us to implement a new email solution should we ever decide to move away from A

[2017-07-24 01:17] marshallj commented on #66
@brendanyounger thanks for working on this. I'll pull what you've done down and take a look.

[2017-07-24 16:32] ejaxon commented on #71
So this came up during the discussion in Asheville Saturday and the consensus was that it actually DOES make sense to keep all the topics at the top level - it basically just only shows national/statewide information. Perhaps then we could put (on every topic page) an invitation to go to a specific county for more local information.

[2017-07-24 16:40] ejaxon commented on #72
@Sadaajit & @marshallj: how about just creating a /public folder on the top level and putting it there. We can also use it for images.

[2017-07-24 16:42] ejaxon commented on #70
Yes, I believe we are linking somewhere to the DPS site and agree that we could use these in the generated resources for specific counties. One issue with the site, however, is that it tends to have out-of-date links

[2017-07-24 16:45] ejaxon commented on #62
Per my comment on [issue](https://github.com/CodeForNC/reentry-resources-hub/issues/72), we should create a top-level /public directory for favicon, images, etc.

[2017-07-24 17:22] ejaxon commented on #61
So one thing to consider - what if we want to be able to send emails to locale admins rather than always to me and Jason? If we want to keep that option open without running into problems having the email flagged as insecure or spam, it's probably important to use SES or something like it.

But it looks like we can probably have the best of both worlds: have nodemailer use SES as the transport mec

[2017-07-24 17:29] BlakeGuilloud commented on #61
I'm sorry- I should have specified more clearly. It is not the email that is being flagged as insecure or spam, but it's the auth process that nodemailer uses when sending the email. So it is the 'global' accounts email address that would flag on the auth process.

I'll dive in tonight and see what I can come up with- I'll check back in mid-week, but will most likely need a set of AWS API keys whe

[2017-07-24 17:31] ejaxon commented on #61
Sounds good. I can set up API keys and get them to you, but that will probably have to be next weekend.

[2017-07-24 19:23] giancarlopetrini commented on #45
Do you want the script to clean build each time it's run or just fetch after the initial setup?

[2017-07-24 19:45] ejaxon commented on #45
I think a clean build is fine. For the most part, we'll almost never do a git pull on this server since the editing will actually be happening there.

[2017-07-24 19:47] giancarlopetrini commented on #45
Great, sounds good. I'll start working on it ASAP.

[2017-07-24 22:08] Sadaajit commented on #76
Was playing around with this issue. When I try to make changes to the font size all that happens is that the space between the counties increases, the font itself does not increase. It seems to me that CSS needs to be applied to the list of counties, however, I'm not sure how that can be done.

Also, it might be nice to have a slightly different style of modal, that has a rolling scroll mechanism,

[2017-07-24 22:19] dresean commented on #70
Ok, I understand.

[2017-07-24 23:16] dresean commented on #70
The final updates to the document are ready. Please let me know if you need anything else done!

[2017-07-25 00:08] marshallj commented on #71
I agree that it makes logical sense to show the topic tabs at the top level with only national/statewide information, however I can't think of a specific scenario where this would be valuable. I could be overlooking something, but won't anyone looking at the site also be interested in seeing the local content? Also, seems like it could possibly create confusion, or a situation where someone doesn'

[2017-07-25 00:13] marshallj commented on #71
Thinking more here... Perhaps if the invitation to go to a specific county was prominent enough to not be missed it could work. Wondering then if the county has not provided local resource info if that would have the potential to create confusion.

[2017-07-25 00:15] marshallj commented on #45
@giancarlopetrini assigning this to you and placing it in progress. We appreciate the help! Let us know if you need anything.r

[2017-07-25 01:02] #69 closed

[2017-07-25 01:07] marshallj commented on #72
@Sadaajit, I agree with @ejaxon. Just create a folder inside 'reentry-resources-hub' called 'public' and place your favicon inside there. Let me know if you need help submitting a pull request.

[2017-07-25 08:04] ejaxon commented on #71
A couple thoughts here. First, I would think that the 211 (or possible DPS) queries out to produce _something_ for any county. We need to think about how to make sure people see it since it will be at the bottom. Second, the common information is certainly of value to prison counselors. Different prisoners will have different target counties (there is no relationship between county of incarceratio

[2017-07-25 08:06] ejaxon commented on #70
Thanks all! We'll review in the next week and figure out next steps.

[2017-07-25 08:09] ejaxon commented on #76
Not sure what the issue is, @Sadaajit, but we may want to consider a more extensive redesign of navigation between counties. Check out the discussion over in [issue 71](https://github.com/CodeForNC/reentry-resources-hub/issues/71). cc: @marshallj

[2017-07-25 14:48] giancarlopetrini opened #83 "Review Build/Release workflow and stand up Jenkins Server"
## This is a:

* [ ] bug
* [ ] enhancement
* [x ] feature-discussion

# Feature-Discussion

Leverage Jenkins for automated build, unit tests, and push releases with integration through GitHub and AWS. Will require separate AWS instance running Jenkins with necessary IAM roles to access production or staging EC2's

[2017-07-26 01:06] marshallj commented on #71
I see now. The example of prison counselors needing the state and national content without local jurisdiction data makes sense. Although, wouldn't the councilor know the target county for each prisoner they would be assisting? The local info could provide additional value. Maybe they could connect with the local service provider prior to the release date to make the connection and set up assistanc

[2017-07-26 10:29] ejaxon commented on #83
So I'll start by admitting that I've never actually done this, so I probably am operating from a bias against. That said, I want to make sure I understand the value/cost.

First, on the cost side, there are two. One is the cost of the Jenkins instance on AWS - not a big deal, but given $0 revenue for the company operating it ... :). The bigger cost is just the additional complexity that anyone mai

[2017-07-26 11:37] giancarlopetrini commented on #83
Thanks for the quick response. We should be able to write a pretty clear SOP to accompany a CI implementation for any that would need to maintain the system going forward. I'll begin setting up a barebones implementation so that I can better address your questions; I've never done this either!!

If anything, it will be a good learning process for me. I have worked extensively with AWS/automated de

[2017-07-26 12:08] ejaxon commented on #45
Merged this in. Closing the issue now.

[2017-07-26 12:08] #45 closed

[2017-07-26 16:53] ejaxon commented on #83
Perfect!

[2017-07-26 18:22] ejaxon commented on #71
Re: knowing the county, not sure. Probably, but maybe it depends. I think people are released to the county in which they were convicted, and there are cases where that can get interesting (charges in multiple counties) or just hard to figure out (person doesn't remember correctly).

In any case, one thing is that the switch between counties needs to be much more prominent. With that, the other is

[2017-07-26 22:25] marshallj commented on #71
Sounds reasonable to me. Perhaps we should work with @mlamont8 and @matthannam (assuming you guys still want to chip in on this issue) on a feature-discussion on how dev on this should proceed? Should close here and open a new issue.

[2017-07-26 22:36] marshallj commented on #76
@Sadaajit you can include a className attribute on the Button tag in CountyModal.jsx like so:

[code]
Then use the className as a class in the css.

[2017-07-26 22:42] Sadaajit commented on #76
I think I tried this, but will try it just in case I put it someplace else. Will be working on this tomorrow.

Sadaajit

[2017-07-27 12:34] ejaxon commented on #71
Actually, I think one key task (could open a new issue for this) is to come up with a design for a more prominent way to navigate to a county, plus at the bottom of every page also an invitation to go to a county or to switch to another county.  In fact, it's probably a good idea to be more prominent with the info on what county you're actually in.

[2017-07-27 13:07] matthannam commented on #71
I'm not sure I have enough context to weigh in on this question but I have
almost wrapped up the county toggle modal.  I added a filter list and am
working on how it looks on mobile.

Thanks, Matt

On Thu, Jul 27, 2017 at 8:34 AM, Eric Jackson <notifications@github.com>
wrote:

--
Matt Hannam
(mobile) 336-420-0890

[2017-07-27 14:51] mlamont8 commented on #71
With the main header changing based on the county selected, perhaps a button could be added in the footer for an option to switch to another county?

[2017-07-27 22:15] jandrewwhit commented on #76
@Sadaajit Don't worry about it. I figured out the modal design. I now have the modal with a larger font for the counties and a vertical scroll in my local version. I just need some opinions on it and I guess push it back to the master branch.

[2017-07-28 00:17] Sadaajit commented on #72
Have put the favicon in the public folder and tried every permutation of favicon html I found the web, but none of them worked. I think I probably don't have my href correct. I'm not sure how much of  the actual "breadcrumb" of the files I need to include. I thought it would just be /public/favicon.ico. Do I need to include more than that? My terminal is saying 404 - /favicon.ico if that helps. Al

[2017-07-28 19:59] ejaxon commented on #72
@Sadaajit - I think this probably needs some additional configuration in webpack.config.js. @marshallj - who is best to help with this. I'm not a great expert, but can try to figure out, but if someone already knows, that would be best. Also, I don't see a build target in scripts in package.json - we'll need to add that.

[2017-07-31 20:57] Sadaajit commented on #72
@marshallj, @ejaxon has suggested some extra changes in the webpack.config.js and package.json, which I don't know how to do. Is this needed? If so, you'll need to find someone else to do that work, or what would be better is if you have someone that can do the work, that would allow me to work with them. I need to do some collaboration in order to increase my skills.

[2017-08-01 00:12] marshallj commented on #52
Hi @adennen. Thanks for coming out to the Code for NC Reentry Resources Hub Hackday a couple weeks ago! At the event, you indicated you were interested in working on this issue. We would love to have you submit a pull request for this task, although we understand if life is taking your time in other directions. To help us to move the project towards deployment, please comment here to let us know i

[2017-08-01 00:14] marshallj commented on #68
Hi @kumarchjava. Thanks for coming out to the Code for NC Reentry Resources Hub Hackday a couple weeks ago! At the event, you indicated you were interested in working on this issue. We would love to have you submit a pull request for this task, although we understand if life is taking your time in other directions. To help us to move the project towards deployment, please comment here to let us kn

[2017-08-01 00:16] marshallj commented on #62
Hi @jmu2nmsu. Thanks for coming out to the Code for NC Reentry Resources Hub Hackday a couple weeks ago! At the event, you indicated you were interested in working on this issue. We would love to have you submit a pull request for this task, although we understand if life is taking your time in other directions. To help us to move the project towards deployment, please comment here to let us know

[2017-08-01 00:19] marshallj commented on #76
@jandrewwhit and @Sadaajit, @matthannam implemented a search filter for the modal. It's pretty slick. Pull it down from master and take a look. We may still need to redesign the 'Select County' experience as @ejaxon mentioned in the comment above, but this will involve some discussion/planning. I wouldn't recommend doing too much else with this one until further notice, unless you just want to exp

[2017-08-01 00:23] marshallj commented on #77
Hi @jandrewwhit. I am making the rounds to check in on the in progress issues. Are you still working on this one. I understand if your time is pulled elsewhere. Just let me know by Friday, so I can put it back in the to do column if needed. Thanks.

[2017-08-01 01:00] matthannam commented on #66
@marshallj Can we merge Brendan's pull request that fixes hot reload?  It works great for me.  I'm sure everybody is ready to have this working properly for their dev environment.

[2017-08-01 12:38] ejaxon commented on #71
I think having a button in the footer is a good idea, but I'm also inclined to integrate somehow directly into the text. It's too easy to ignore header/footer stuff.

[2017-08-04 20:18] adennen commented on #52
Hi Jason, I'm interested in putting some hours in on this over the weekend,
is there a deadline this project needs to be ready by?

Thanks, Aron

[2017-08-04 23:05] marshallj commented on #52
Sure Aron. Thanks for the heads up. We'd love to have you work on this. There is no locked in deadline, we would just like to keep track of the issues that volunteers are actively working on. Thanks.

[2017-08-05 15:04] ejaxon commented on #75
I am closing this since it's duplicated by [this one](https://github.com/CodeForNC/nc-reentry-resources-content/issues/5), where the work actually occurred.

[2017-08-05 15:04] #75 closed

[2017-08-05 17:42] ejaxon commented on #66
Ignore this if it throws a wrench in the works, but one thing to think about is eventually just dropping the back-end part of this and replacing with connection to the GraphQL server we've built for the admin ui. It can easily be done using the existing API endpoints, but easy enough to create a new one that is optimized for the public site.

If getting the server-side hot-reload is hard, this mig

[2017-08-06 13:55] marshallj commented on #66
@ejaxon, I think your suggestion may be the right decision for now. I spent several hours yesterday trying to configure the server side hot reloading, and could not get the bundle to compile without errors. Brendan suggested a solution, but I'm not familiar with the approach and it doesn't appear to support server side hot loading. If we pull out the server side rendering, we would be removing a s

[2017-08-07 16:26] marshallj commented on #62
Moving back to To-Do status.

[2017-08-07 16:27] marshallj commented on #68
Moving back to To-Do status.

[2017-08-11 10:17] ejaxon commented on #61
Hey, Blake, my apologies for the long delay - got myself buried. Let me know if you are still interested in doing this and I'll get you access. I assume what I need to do is set you up through IAM as a programmatic access user in a security group that gives you access to SES. I'll figure it out, but if you know exactly what I need to do, let me know. -Eric

[2017-08-11 15:09] BlakeGuilloud commented on #61
Hey Eric,

No worries about the delay. I have actually been super busy the past two
weeks. Yes I am still interested in doing this. I will need to re
familiarize myself with what we decided on, but I think just using the aws
node sdk and sending emails via SES would be our best / easiest  bet. I
will need to register / verify the email addresses that we wish to send
from and probably verify my per

[2017-08-20 14:30] ejaxon commented on #61
Hi, Blake,

You should have gotten an email from me with credentials and a verification email from AWS for SES.

Let me know if you need anything else or I've missed something.

[2017-08-20 16:13] BlakeGuilloud commented on #61
Got it. Thanks Eric. I'll start toying around with it this afternoon /
evening. Should be able to get up and running by the end of the week as
long as I can find a couple of hours.

If I run into any permissions issues, I'll hit you up, otherwise I'll tag
you in the pull request.

Thanks for this,
Blake

On Sun, Aug 20, 2017 at 10:30 AM, Eric Jackson <notifications@github.com>
wrote:

[2017-08-20 22:01] ejaxon opened #88 "Resolve linting errors in CountyModal"
There are still some linting errors in CountyModal.jsx that @BlakeGuilloud left for those actively working on the component.

[2017-08-20 22:02] ejaxon commented on #88
This may best be done by @brendanyounger, @matthannam, or @marshallj

[2017-08-21 04:19] BlakeGuilloud commented on #66
Has any sort of decision been made on this?

[2017-08-21 11:11] ejaxon commented on #66
I think @marshallj has more context on this one.

[2017-08-22 01:37] BlakeGuilloud commented on #68
I'm happy to knock this out over the week. Just confirming our servers are going to be running Node 8? Otherwise I can write some scripts to compile.

[2017-08-22 01:38] BlakeGuilloud commented on #68
Scratch that - just read the description again. Looks like we're standard on 7

[2017-08-22 11:27] ejaxon commented on #68
Cool - go for it!

[2017-08-22 12:43] marshallj commented on #66
@ejaxon, @BlakeGuilloud Sorry for the delay. Hot reloading should be working on the client side. Closing.

[2017-08-22 12:43] #66 closed

[2017-08-22 13:24] BlakeGuilloud commented on #64
I think that using the react-scripts package / config that we are using should resolve this issue.

[2017-08-22 13:25] marshallj commented on #64
@BlakeGuilloud I haven't had a chance to look. Are changes needed for this now, or did Brendan's React-snapshot PR take care of it?

[2017-08-22 13:28] BlakeGuilloud commented on #64
@marshallj running `yarn build` will populate the `build` folder with optimized resources. The build folder is what should be deployed.

[2017-08-22 13:55] marshallj commented on #64
@BlakeGuilloud I thought that was the case, Closing this now. Thanks for helping Eric and I clean these issues up.

[2017-08-22 13:55] #64 closed

[2017-08-23 10:23] ejaxon commented on #61
Just merged pull request [89](https://github.com/CodeForNC/reentry-resources-hub/pull/89) with this, so closing.

[2017-08-23 10:23] #61 closed

[2017-08-23 10:24] ejaxon commented on #77
Since we've merged @BlakeGuilloud's pull request on this, can we close, @marshallj?

[2017-08-23 10:28] ejaxon opened #91 "Document configuration of contact page in main README"
The contact page implementation uses AWS SES and requires setting several environment variables in a .env file, as noted in the discussion for [this pull request](https://github.com/CodeForNC/reentry-resources-hub/pull/89). We need to add documentation on this to the main README.

[2017-08-23 10:28] ejaxon commented on #91
The implementation of the contact page was done by @BlakeGuilloud, should questions arise.

[2017-09-02 12:48] marshallj commented on #77
Closing.

[2017-09-02 12:48] #77 closed

[2017-09-02 12:52] marshallj commented on #52
@adennen I'm moving this back to the Todo column due to inactivity. Feel free to indicate future interest in contributing. Thanks.

[2017-09-02 12:54] marshallj commented on #62
@Sadaajit, are you still interested in working on this?

[2017-09-02 12:56] marshallj commented on #72
@Sadaajit looks like Brendan added a favicon when he refactored the project for us. feel free to take a look, its in the public folder. Closing this issue.

[2017-09-02 12:56] #72 closed

[2017-09-02 12:57] marshallj commented on #76
Closing for now. Will likely create additional issues related to this in the future as feature discussions mature.

[2017-09-02 12:57] #76 closed

[2017-09-02 12:58] marshallj commented on #71
Closing. Additional issues will be created related to this as feature discussions mature.

[2017-09-02 12:58] #71 closed

[2017-09-02 13:00] marshallj commented on #28
@jdmoore4, removing you due to inactivity. Feel free to express interest in contributing here, and we can reassign. Thanks.

[2017-09-03 09:25] Sadaajit commented on #62
@Jason, yes. Have been struggling with recovering from a mean respiratory infection, which left me with no energy. Was just thinking about getting back into it. I need to know what size the picture needs to be. Does Eric know?

Sadaajit

[2017-09-03 12:00] ejaxon commented on #62
Hi, @Sadaajit, I think the unfortunate answer is: "It depends". Here's one (of very many) articles I found about sizing images (these are full background images rather than headers, but the considerations are similar): https://www.webmalama.com/the-best-full-screen-background-image-sizes-for-web-design/.

I think we'll probably need to plan to have 2-3 sizes of each image with CSS that selects bas

[2017-09-03 14:08] Sadaajit commented on #62
Thanks, @ejaxon. I’ll take a look at the link. Do you know the size of the image that is being used as the header for the original site? That would help me with the size for the largest image.

[2017-09-03 14:18] ejaxon commented on #62
That one is 1280X300

[2017-09-03 18:23] Sadaajit commented on #62
Great, thanks @ejaxon. That will help me get the ball rolling.

[2018-01-22 23:11] ghost commented on #68
I can take this one on!

[2018-01-23 02:22] marshallj commented on #68
@tpham785 thanks for your interest. @ejaxon and I are in process of refactoring the backend, and the compose.js file you see in this repo will be changing substantially. Would love for you to contribute, but please hold off a bit while we prepare the project for further contributions. Thanks.

[2018-02-17 13:21] vinayaugustine commented on #28
I have experience writing introductory tutorials for git & github and would like to take a stab at this. I have less experience setting up node & yarn, so I can definitely bring a newbie perspective to that!

[2018-02-25 15:45] ejaxon commented on #28
Hi, @vinayaugustine, sorry for the slow response! Things have been pretty crazy and this project got a bit neglected. We are getting things started back up, but it will probably be a couple weeks before we're ready to talk about new people contributing. If you are still interested in doing this, ping me by email (eric.jackson@democracyapps.org) and we'll set up a conversation.

[2018-02-28 13:01] ejaxon commented on #68
I am closing this. This function has been rewritten now to work with a database backend rather than files.

[2018-02-28 13:01] #68 closed

[2018-02-28 13:02] ejaxon commented on #74
Closing this for now - trying to clean up the project as we move toward initial release. We'll create new issues where relevant, but may be in a different repo.

[2018-02-28 13:02] #74 closed

[2018-02-28 13:02] ejaxon commented on #63
Closing this since we've taken a different tack.

[2018-02-28 13:03] ejaxon commented on #46
This is done - we'll have revisions after release.

[2018-02-28 13:03] #46 closed

[2018-03-05 13:00] ejaxon commented on #83
I'm going to close this for now since we probably need to rethink deployment. Watch the repo for new issues as we get reorganized to (finally) launch.

[2018-03-05 13:00] #83 closed

[2018-03-05 13:01] ejaxon commented on #70
Closing this.

[2018-03-05 13:01] #70 closed

[2018-03-05 13:08] ejaxon commented on #65
Closing for now

[2018-03-05 13:08] #65 closed

[2018-03-05 13:09] ejaxon commented on #50
Closing for now as part of a general restart.

[2018-03-05 13:09] #50 closed

[2018-03-05 13:09] ejaxon commented on #48
Closing for now as part of a general restart.

[2018-03-05 13:09] #48 closed

[2018-03-05 13:10] ejaxon commented on #62
Hi, @Sadaajit, are you still working on this one?

[2018-03-05 14:10] Sadaajit commented on #62
No, sorry, my schedule has gotten busy and I’m trying to launch my own business right now, so all time is being spent there.

Sadaajit

[2018-03-05 14:43] ejaxon commented on #62
Not a problem at all. Just didn't want to yank it out from under you if you still wanted to work on it. I'm closing this for now as part of a general restart of the project.

[2018-03-05 14:44] ejaxon commented on #52
Closing for now as part of a general restart.

[2018-03-05 14:44] #52 closed

[2018-03-05 14:56] Sadaajit commented on #62
Thanks for checking and letting me know.

Sadaajit

[2018-03-17 20:39] ejaxon opened #96 "Fix bad link for Buncombe County Rental Guide and Property Supplement"
The links on the old site were bad. Should BOTH be changed to https://ontrackwnc.org/who-we-are/buncombe-county-rental-guide-property-supplement.html

[2018-11-24 15:48] #28 closed

[2018-11-24 15:48] #49 closed

[2018-11-24 15:48] #88 closed

[2018-11-24 15:48] #91 closed

[2018-11-24 15:48] #96 closed

[2018-11-24 15:53] ejaxon opened #98 "Fix the order of topics in the navbar"
Use of 'map' to generate the navbar yields an arbitrary order of menu items. Should mirror the order in the current site.

[2018-11-24 16:03] ejaxon opened #99 "Update README"
The README is several versions old - needs to be updated to correspond to the current version.

[2018-12-10 21:55] mmazanec22 commented on #98
@ejaxon I ordered them and named them in a branch, but this does mean that they are hard coded and an API call is unnecessary to populate the nav bar.  I didn't take out the API call yet in case we wanted to discuss including "display name" and "order in nav bar" or something like that in the db.

[2018-12-10 22:42] ejaxon commented on #98
I think it makes sense to do something other than hard-code, but that's a couple nice small tasks for later.

Why don't you go ahead and merge this is, then reassign the task to me. I'm not sure what the right approach is, given that this is using a general Open Referral endpoint. Maybe a special endpoint for this application, maybe a more general set of additional fields like you suggest. I'll th